# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
arm/
arm64/
build/
bld/

# Visual Studio files
*.vcxproj.filters
*.vcxproj.user
*.csproj.user
*.fsproj.user
*.vbproj.user

# ReSharper
_ReSharper.*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Other
ipch/
*.cache
*.ilk
*.log
*.meta
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.tlog
*.tmp
